APP_NAME="Intramurals Management"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://slsubc.tech
APP_FORCE_HTTPS=true

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_DATABASE=intrams
DB_USERNAME=intrams
DB_PASSWORD=
DB_ROOT_PASSWORD=

CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_DOMAIN=slsubc.tech
SESSION_SECURE_COOKIE=true
SESSION_LIFETIME=240

INTRAMURALS_DEFAULT_ACCOUNT_PASSWORD=
DEPLOY_RUN_MIGRATIONS=false
DEPLOY_SEED_DEFAULT_ACCOUNTS=false
DEPLOY_SEED_DEFAULT_COMPETITIONS=false
