APP_NAME="INTRAMURAL MS"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://slsubc.tech
APP_FORCE_HTTPS=true

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_DATABASE=intrams
DB_USERNAME=intrams
DB_PASSWORD=
DB_ROOT_PASSWORD=

CACHE_DRIVER=file
FILESYSTEM_DISK=public
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_DOMAIN=slsubc.tech
SESSION_SECURE_COOKIE=true
SESSION_LIFETIME=240

INTRAMURALS_DEFAULT_ACCOUNT_PASSWORD=
INTRAMURALS_DEFAULT_EDITION_NAME="SLSUBC INTRAMURALS 2026"
INTRAMURALS_DEFAULT_SCHOOL_YEAR=2026-2027
INTRAMURALS_DEFAULT_STARTS_ON=2026-10-19
INTRAMURALS_DEFAULT_ENDS_ON=2026-10-23
DEPLOY_RUN_MIGRATIONS=false
DEPLOY_SEED_DEFAULT_ACCOUNTS=false
DEPLOY_SEED_DEFAULT_COMPETITIONS=false
